<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />-->
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</head>
<body>
<div>
    <h1>登录</h1>
    <div class="form-group">
        <label for="username" class="sr-only">用户名</label>
        <input class="form-control" type="text" id="username" placeholder="用户名"/>
    </div>
    <button class="btn btn-primary" onclick="login()">提交</button>
</div>
</body>
</html>

<style>
    * {
        font-family: "微软雅黑";
        font-size: 15px;
        margin: 0 auto;
    }

    div {
        width: 400px;
        margin-top: 100px;
        text-align: center;
        padding-top: 10px;
    }

    input, button {
        margin-top: 10px;
    }

    input {
        width: 400px;
        padding: 5px 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        padding: 5px 0;
        width: 408px;
    }
</style>